.container {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-image: url('./assets//image1.jpg');
  overflow: hidden;
}
.header {
  background-color: black;
  color: white;
  height: 8vh;
  padding: 5px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
  /* z-index: -2; */
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 60vw;
  margin-left: 22vw;
  overflow: wrap;

  padding: 5px;
  color: grey;
}

.card-content {
  width: 16vw;
  height: 7vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;

  /* display: flex;
  flex-direction: column; */
  /* width: 10vw;
  overflow-wrap: wrap; */
}

ul:nth-child(1) {
  border-right: 2px solid grey;
}

.content {
  display: flex;
  flex-direction: column;
  font-size: 12vh;
  margin-left: 9vw;
  width: 13vw;
}
